<h1>Books</h1>

<table boder="1">
    <tr>
      <th>title</th>
      <th>body</th>
      <th></th>
      <th></th>
    </tr>

       <tr>
         <td>123456</td>
         <td>456789</td>
         <td><%= link_to "Show" %>
             <%= link_to "edit" %>
             <%= link_to "dilite" %>
         </td>
       </tr>
</table>


<link_to ""