<h1>Books</h1>

<table boder="1">
    <tr>
      <th>title</th>
      <th>body</th>
      <th></th>
    </tr>

       <tr>
         <td>123456</td>
         <td>456789</td>
         <td>78912</td>
       </tr>

</table>